<appSettings>
	<add key="MailServer" value="dev-smtp.movies.com"/>
	<add key="FacebookAppId" value="829483747641541"/>
	<add key="FacebookAppSecret" value="e9f75697a2e44711a2126aed3cb02839"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
